#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.logo {
  margin-bottom: 20px;
  margin-top: 20px;
}
.welcome {
  width: 528px;
}
.generalText {
	font-style: normal;
	line-height: normal;
	color: #FFFFFF;
  padding-bottom: 10px; 
}
.link2 {
	font-weight: bold;
	color: #9999CC;
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 14px;
}
button.link2active {
	font-weight: bold;
	color: #9999CC;
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 14px;
  border: 3px solid aqua;
}
.portNav {
  font-size: 14px;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.portfolioNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pieceHolder {
  display: flex;
  flex-direction: column;
}
.pieceHolder img {
  margin-left: 1em;
  margin-top: 1em;
  margin: 0 auto;
}
.pieceInfo {
  padding: 1em;
  margin: 0 auto;
}