#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.logo {
  margin-bottom: 20px;
  margin-top: 20px;
}
.welcome {
  width: 528px;
}
.generalText {
	font-style: normal;
	line-height: normal;
	color: #FFFFFF;
  padding-bottom: 10px; 
}
.link2 {
	font-weight: bold;
	color: #9999CC;
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 14px;
}
button.link2active {
	font-weight: bold;
	color: #9999CC;
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 14px;
  border: 3px solid aqua;
}
.portNav {
  font-size: 14px;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.portfolioNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pieceHolder {
  display: flex;
  flex-direction: column;
}
.pieceHolder img {
  margin-left: 1em;
  margin-top: 1em;
  margin: 0 auto;
}
.pieceInfo {
  padding: 1em;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  img {
    width: 80%;
  }
  .welcome {
    width: 80%;
  }
  .link2 {
    font-weight: bold;
    color: #9999CC;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    font-size: 11px;
  }
  button.link2active {
    font-weight: bold;
    color: #9999CC;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    font-size: 11px;
    border: 1px solid aqua;
  }
  button {
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 0.3em;
    font-size: 0.5em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
}

@media screen and (max-width: 500px) {
  img {
    width: 80%;
  }
  .welcome {
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  img {
    width: 84%;
  }
  .welcome {
    width: 93%;
  }
  .link2 {
    font-weight: bold;
    color: #9999CC;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    font-size: 12px;
  }
  button.link2active {
    font-weight: bold;
    color: #9999CC;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    font-size: 12px;
    border: 2px solid aqua;
  }
  button {
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 0.3em;
    font-size: 0.5em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
}